<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
 <title>Edit Password</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>EDIT PASSWORD</h1>

<div>
 <form th:object="${password}" th:action="@{../save}" action="#" method="post">
 
 <input type="hidden" id="id" th:field="*{id}"/>
 
 <label for="page">WebPage</label>
 <input type="text" id="page" th:field="*{page}" />
 <label for="user">User</label>
 <input type="text" id="user" th:field="*{user}" />
 <label for="keyword">Password</label>
 <input type="text" id="keyword" th:field="*{keyword}" />
 
 <input type="submit" value="Save"></input>
 </form>
</div>

</body>
</html>