<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org" >
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 


<head>
 <title>Passwords List</title>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<header>

<form th:action="@{/logout}" method="post" style="text-align:right">
 <input type="submit" value="Sign Out" class="btn btn-secondary"/>
</form>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! These are your saved passwords</h1> 

<p>
</header>

<body>
<a href="/addpassword" class="btn btn-primary">Add Password</a>
<p>

<table class="table table-striped table-dark">
<thead class="thead-dark">
<tr>
<th>WebPage</th>
<th>Username</th>
<th>Password</th>
<th>ROT13 Coded Password</th>
<th>Actions</th>
</tr>
</thead>

<tr th:each = "password : ${passwords}">
<td th:text="${password.page}"></td>
<td th:text="${password.user}"></td>
<td th:text="${password.keyword}"></td>
<td th:text="${password.keyword2}"></td>

<td><a th:href="@{/delete/{id}(id=${password.id})}" class="btn btn-danger">Delete</a> 
<a th:href="@{/edit/{id}(id=${password.id})}" class="btn btn-warning">Edit</a>

</tr>
</table>


</body>
</html>